<html>
   <body>
      <form action = "http://localhost:5000/confirmation" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <p>Email <input type = "text" name = "Email" /></p>
         <p>Phone Number <input type = "text" name = "Phone Number" /></p>
         <p>Message <input type ="text" name = "Message" /></p>

          Subject<SELECT name="subject">
            {% for c in subjectList %}
                <OPTION value={{c.subject_id}}>{{c.subject_name}}</option>
            {% endfor %}
          </SELECT>

          <p>Preferred Contact Method:</p>
          <p>Email<input type="checkbox" name="match-with-pairs"/></p>

          <p>Phone<input type="checkbox" name="match-with-pairs"/></p>

          <p>User to agree to terms and conditions.<input type="checkbox" name="match-with-pairs"/></p>

         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
